@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #edeef6;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

/* utility classes */
.center-text {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
}

.mg-top-10 {
  margin-top: 10px;
}

.mg-top-2 {
  margin-top: 2px;
}

.wd-1000 {
  width: 1000px !important;
}

/* header */
header {
  justify-content: space-between;
  background-color: black;
  padding: 10px 10px;
  min-width: 500px;
}
header a {
  color: white;
}

/* footer */
#container {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}
footer {
  justify-content: flex-end;
  padding: 5px 15px;
  background-color: black;
  margin-top: auto;
}

/* main */
#upload-file-box-outer {
  /* background-color: bisque; */
  justify-content: center;
  height: 40vh;
  flex-direction: column;
}
#app-details {
  padding: 20px;
  padding-top: 0px;
}
#upload-file-box-inner {
  /* background-color: darkorange; */
  background-color: rgba(0, 0, 0, 0.2);
  height: 60%;
  width: 80%;
  border: 2px dashed black;
  justify-content: center;
}
#upload-btns {
  /* height: 100%; */
}

.primary-btn {
  background-color: #47a386;
  border-radius: 6px;
  font-weight: 700;
  color: white !important;
  padding: 8px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-out;
  border: none;
  cursor: pointer;
}
.primary-btn:hover {
  background-color: #377e67;
}
.secondary-btn {
  background-color: #5d8aa8;
}
.secondary-btn:hover {
  background-color: #46687e;
}
.delete-btn {
  background-color: #be4156;
}
.delete-btn:hover {
  background-color: #8b2e3d;
}

/* uploaded files table at home page */
#uploded-files-wrapper {
  /* background-color: darkorange; */
  flex-direction: column;
  margin-bottom: 30px;
}
#upload-files-heading {
  padding: 20px;
  padding-top: 0px;
}
#table-wrapper {
  width: 90%;
}
table {
  width: 100%;
  border-collapse: collapse;
  width: 100%;
  border: 2px solid black;
}
th,
td {
  text-align: left;
  padding: 12px;
  border: 2px solid black;
}
table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
table thead tr {
  background-color: rgba(0, 0, 0, 0.1);
}
#no-files-uploaded {
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  justify-content: center;
  width: 50%;
  margin: auto;
}

/* file view page */
#uploaded-file-heading {
  padding: 20px;
}
.view-file-header {
  gap: 5px;
}
.th-clicked {
  background-color: rgba(0, 0, 0, 0.3);
}
#search-table-box-div {
  width: 40vw;
  margin-bottom: 25px;
}
#search-table-box {
  width: 100%;
  padding: 6px;
  border-radius: 5px;
}
